[mysqld]
innodb_buffer_pool_size=2048M
innodb_log_file_size=512M
innodb_flush_log_at_trx_commit=2
max_connections=1000
query_cache_size=0
tmp_table_size=64M
max_heap_table_size=64M
bind-address = 0.0.0.0
