{% extends "base.html" %}

{% block title %}All Pastes{% endblock %}

{% block content %}
<h3 class="mb-4">Available Pastes</h3>
{% if pastes %}
  <ul class="list-group">
    {% for paste in pastes %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <a href="{{ url_for('view_by_short_url', short_url=paste.short_url) }}">
            {{ paste.short_url }}
          </a>
        </div>
        <span class="badge bg-secondary">Views: {{ paste.view_count }}</span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No available pastes.</p>
{% endif %}
{% endblock %}
